@import "tailwindcss";

:root {
  --color-background: #e0e0e0;
  --color-secondary: #f0f0f0;
  --color-primary: #ffffff;
  --color-highlight: #141414;
  --color-text-highlight: #ffffff;
  --color-text-primary: #141414;
  --color-text-muted: #707070;
  --color-card-background: #414141;
  --color-border-primary: #acacac;
  --color-blockNote-background: #ffffff;
}

@layer theme {
  .dark {
    --color-background: #141414;
    --color-secondary: #272727;
    --color-primary: #4f4f4f;
    --color-highlight: #ffffff;
    --color-text-highlight: #141414;
    --color-text-primary: #ffffff;
    --color-text-muted: #acacac;
    --color-card-background: #414141;
    --color-border-primary: #3a3a3a;
    --color-blockNote-background: #1f1f1f;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Roboto", "Inter", sans-serif;
}

/* Hide scrollbars globally */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari/Webkit */
}